.number-problem {
  font-size: 20px;
}

.lists{
  width: 100%;
  text-align: left;
  display :flex;
  justify-content: center;
}
.japan {
  height: 330px;
  width: 330px;
  border: 1px solid black;
}
.lists1{
  margin-right: 10px;
  width:40px;
  text-align: left;
}
.lists2{
  width:300px;
}
.list1, .list2, .list3{
  margin-top: 15px;
  font-size: 20px;
  height: 30px;
}
.list1, .list3 {
  border: 1px solid white;
}

.list2{
  width: 275px;
  border: 1px solid gray;
  padding-left: 15px;
  margin-right: 10px;
}
.list3{
  font-size: 20px;
  margin-left: 10px;
  color: red;
  visibility: hidden;
}

.note{
  margin-top: 5px;
  font-size: 15px;
}

.answer{
  height: 25px;
  padding-top: 5px;
}

#answer {
  font-size: 25px;
  color: red;
  display:none;
}
.next {
  height: 20px;
  margin: 15px 0 35px 0;
}
.next p{
  font-size: 25px;
}